[submodule "openresty/owasp-modsecurity-crs"]
	path = openresty/owasp-modsecurity-crs
	url = https://github.com/SpiderLabs/owasp-modsecurity-crs.git
[submodule "openresty/ModSecurity"]
	path = openresty/ModSecurity
	url = https://github.com/SpiderLabs/ModSecurity
[submodule "openresty/ModSecurity-nginx"]
	path = openresty/ModSecurity-nginx
	url = https://github.com/SpiderLabs/ModSecurity-nginx
